<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    
    <div class="col-lg-8 my-3"> <!--Aqui vem os conteúdos-->
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Faça login para cadastrar contatos em sua agenda.</p>

      <%- include('includes/messages') %>

    </div>
  
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>

   